@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography.scss' as *;



.hero{
    width: 100%;
    height: 16rem;
    min-height: 20%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
   
   

    &-image{
        width: 100%;
        
    }

    @include tablet{
        height: 40vh;
    }
    @include desktop{
        height: 100vh;
    }

    &-title-text__box{
        width: 90%;
        position: absolute;
        top: 10%;
        left: 0;
        z-index: 2;
        padding: 1rem;

        @include tablet{
            top: 20%;
            width: 60%;
        }
    }
    &__title{
        color: $button-color;
    }
    &__text{
        color: $button-color;
    }
    &__btn{
        background-color: $button-color;
        padding: 10px 25px 10px 25px;
        border: none;
        border-radius: 5px;
        margin-top: 1rem;
    }

}