@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.header{
    background-color: $primary-color;
    width: 100%;
    height: 6rem;
    @include flex-center(column);
    padding: 1rem;
    z-index: 1000;

    @include tablet{
        @include flex-center(row);
        justify-content: space-between;
    }
   


}
